/* General Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main Content Styles */
main {
    padding-top: 5rem;
}

/* Hero Section Styles */
.hero {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 4rem 0;
}

.hero .container {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}


.btn:hover {
    background-color: #45a049;
}

.btn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Features Section Styles */
.features {
    background-color: #fff;
    padding: 4rem 0;
    text-align: center;
}

.features {
    background: linear-gradient(to right, #f3f4f5, #ffffff);
}



.feature-item {
    margin-bottom: 2rem;
}


.feature-item h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4CAF50;
}

.feature-item p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
}

.feature-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.feature-item.in-view {
    opacity: 1;
    transform: translateY(0);
}


/* About Page Styles */
.about {
    background-color: #f9f9f9; /* Light gray background for the about section */
    padding: 4rem 0;
    text-align: center;
}

.about .container {
    max-width: 1000px;
    margin: 0 auto;
    color: #333;
}

.about h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #555;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* Allows wrapping of team members if the screen is too narrow */
    margin-bottom: 5rem; /* Add margin-bottom to create space for the footer */
}

.team .container h2 {
    color: #fff; /* Lighter color for the "Our Team" header */
    font-size: 2rem;
    text-align: center;
}

.team-grid {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.team-member {
    text-align: center;
    max-width: 300px; /* Adjusted to allow bigger images */
    margin: 2rem;
}

.team-member img {
    width: 100%; /* Adjust image width */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image within its container */
}

.team-member h3 {
    font-size: 1.5rem;
    color: #fff; /* Lighter color for the names */
    margin-top: 0.5rem;
}


/* Contact Page Styles */
.contact {
    background-color: #f9f9f9;
	text-align: center;
	padding: 4rem 0;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
}

.contact p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto; /* Center the form */
    max-width: 100%;
}

.contact label {
    font-size: 1.2rem;
    color: #333;
}

.contact input,
.contact textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact textarea {
    resize: vertical; /* Allow vertical resizing only */
}

.contact button {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: auto;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    font-size: 0.9rem;
}


/* Flash Messages */
.flashes {
    margin: 1rem 0;
}

.flash {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Upload section styles */
.hero form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero input[type="file"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero input[type="file"]:hover {
    background-color: #f1f1f1;
}

.hero .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.hero .result {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #4CAF50;
}

.result.forged {
    color: red;
}

.result.not-forged {
    color: green;
}

