<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgeGuard - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1>ForgeGuard</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="about">
            <div class="container">
                <h2>About ForgeGuard</h2>
                <p>Our project addresses the growing issue of digital image forgery, specifically focusing on techniques like copy-move.</p>
                <br>
                <p>The project aims to develop a tool for detecting image forgery, focusing on techniques such as copy-move.</p>
                <br>
                <p>Utilization of passive forgery detection methods to analyze statistical distortions in digital images.</p>
                <br>
                <p>This project is based on a research paper. Reference: <a href="https://ieeexplore.ieee.org/document/9678207" target="_blank">https://ieeexplore.ieee.org/document/9678207</a></p>
            </div>
        </section>

        <hr> <!-- Divider for separation -->

        <section class="team">
            <div class="container">
                <h2>OUR TEAM</h2>
                <div class="team-grid">
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='Avni.jpg') }}" alt="Avni Jain">
                        <h3>Avni Jain</h3>
                    </div>
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='Jayeeta.jpg') }}" alt="Jayeeta Shome">
                        <h3>Jayeeta Shome</h3>
                    </div>
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='Aakriti.jpg') }}" alt="Aakriti Sharma">
                        <h3>Aakriti Sharma</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 ForgeGuard. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>

