<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgeGuard - Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ForgeGuard</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h2>Forgery Detection Tool</h2>
                <p>Protecting your images with advanced detection techniques.</p>
                <a href="/upload" class="btn">Get Started</a>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <h2>Key Features</h2>
                <div class="feature-item">
                    <h3>Advanced Forgery Detection</h3>
                    <p>Detect and prevent image tampering using state-of-the-art algorithms.</p>
                </div>
                <div class="feature-item">
                    <h3>Integration Flexibility</h3>
                    <p>Seamless integration with existing systems and workflows.</p>
                </div>
                <div class="feature-item">
                    <h3>Scalable Solutions</h3>
                    <p>Scale effortlessly to handle large volumes of images and data.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 ForgeGuard. All rights reserved.</p>
        </div>
    </footer>

	<script>
      window.addEventListener('scroll', function() {
          var elements = document.querySelectorAll('.feature-item');
          var viewportHeight = window.innerHeight;

          elements.forEach(function(element) {
              var position = element.getBoundingClientRect();

              if (position.top < viewportHeight - 100) {
                  element.classList.add('in-view');
              }
          });
      });
  </script>
</body>
</html>

