<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgeGuard - Upload Image</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>ForgeGuard</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h2>Upload Image for Forgery Detection</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" required>
                    <button type="submit" class="btn">Upload</button>
                </form>
                {% if result %}
					<p class="result {% if result == 'Forged' %}forged{% else %}not-forged{% endif %}">{{ result }}</p>
				{% endif %}
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 ForgeGuard. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

